<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <title>Home Page</title>

</head>

<body>
   
    <div class="search-bar">
        <input type="text" placeholder="Search employees..." id="searchField">
        <a href="/search" name="search" placeholder="Search ..." id="searchButton"><i class="fas fa-search"></i> Search</a>
    </div>

    <% if (arr > 0) { %>
        <table class="employee-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Country</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Last Upadte</th>
                </tr>
            </thead>
            <tbody>


                <% arr.forEach((employee, index)=> { %>
                    <tr>
                        <td>
                            <%= index + 1 %>
                        </td>
                        <td>
                            <%= employee.name %>
                        </td>
                        <td>
                            <%= employee.email %>
                        </td>
                        <td>
                            <%= employee.phone %>
                        </td>
                        <td>
                            <%= employee.country %>
                        </td>
                        <td>
                            <%= employee.age %>
                        </td>
                        <td>
                            <%= employee.gender %>
                        </td>
                        <td>
                            <%= moment(employee.updatedAt).fromNow() %>
                        </td>
                      
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    <% } else { %>

        <h2 style="text-align:center; margin-top:4rem;">No employees found.</h2>
        <% } %>
   

</body>

</html>